{% extends 'base.html.twig' %}

{% block title %}Mechanics{% endblock %}

{% block body %}
    <h1>Mechanics</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ mechanic.id }}</td>
            </tr>
            <tr>
                <th>Organization_id</th>
                <td>{{ mechanic.organizationId }}</td>
            </tr>
            <tr>
                <th>Load_ref_date</th>
                <td>{{ mechanic.loadRefDate ? mechanic.loadRefDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ mechanic.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ mechanic.description }}</td>
            </tr>
            <tr>
                <th>File</th>
                <td>{{ mechanic.file }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('mechanics_index') }}">back to list</a>

    <a href="{{ path('mechanics_edit', {'id': mechanic.id}) }}">edit</a>

    {{ include('mechanics/_delete_form.html.twig') }}
{% endblock %}
